html, body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App .controls {
  position: relative;
  flex-basis: content;
  flex-grow: 0;
  margin: 1em 0 1em 1em;
  padding: 0;
}

.App .controls > div, .App .controls > table {
  margin-bottom: 1ex;
}

.App .controls td, .App .controls th {
  padding-right: 1em;
}

.App .controls button {
  margin-right: 1ex;
  margin-bottom: 1ex;
}

.App .controls input.payoff {
  width: 3em;
  text-align: center;
}

input.invalid, input:invalid {
  background: pink;
}

.App .plot {
  position: relative;
  flex-basis: 400px;
  flex-grow: 1;
  min-width: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
